.main-container {
  display: flex;

  @include respond(bigPhone-port) {
    flex-direction: column;
  }
}

.main-genre {
  width: 33.333%;
  height: 40vh;
  position: relative;
  cursor: pointer;

  &:not(:last-child) {
    @include respond(bigPhone-port) {
      border-bottom: 1px solid $color-primary-light;
    }
  }

  @include respond(bigPhone-port) {
    width: 100%;
    height: 15rem;
  }

  @include respond(phone-port) {
    height: 10rem;
  }

  &__description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    transition: 0.2s all;

    span {
      position: absolute;
      bottom: 2rem;
      left: 50%;
      transform: translateX(-50%);
      font-size: 2rem;
      color: $color-main-white;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
    }

    &:hover {
      opacity: 0;
    }
  }
}

.order-all {
  display: flex;
  width: 95%;
  margin: 0 auto;
  align-items: center;
}
