.games-grid {
  display: grid;
  width: 95%;
  margin: 3rem auto 10rem auto;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem;
  row-gap: 6rem;
  flex: 1 1 auto;
  position: relative;
  @include respond(smallTablet-port) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include respond(bigPhone-port) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include respond(phone-port) {
    grid-template-columns: 1fr;
  }
}

.game {
  box-shadow: $box-shadow-light;
  cursor: pointer;
  transition: 0.2s all;
  height: 19rem;
  position: relative;

  &:hover {
    box-shadow: $box-shadow-medium;
    transform: translateY(-5px);
  }

  &__name {
    margin: 1rem 0;
    text-align: center;
    font-size: 1.6rem;
    transition: 0.2s all;
  }

  &:hover &__name {
    font-weight: bold;
  }
}

.game-info-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: 0.2s all;
  display: grid;
  place-items: center;
  color: $color-main-white;
  padding: 1rem;
  font-size: 1.6rem;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.1rem;

  &:hover {
    opacity: 1;
  }

  span {
    color: $color-primary-light;
    font-weight: bold;
    font-size: 1.3rem;
  }
}

.current-genre {
  font-size: 2rem;
  text-transform: uppercase;
  color: $color-primary-light;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
}
